.my_property_container {
	width: 80%;
	margin: 0 auto;
}

.my_property_container .main_title .title{
    display: flex;
    align-items: center;
}


.my_property_container .main_title .Post {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-radius: 15px;
    background-color: var(--buttons-color);
    padding: 10px 15px;
    cursor: pointer;
}

.my_property_container .main_title .Post h1{
    color: white;
    margin-right: 10px;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 2px;
}

.my_property_container .main_title .Post i{
    font-size: 2em;
    color: white;
    margin-left: 5px;
}

.my_property_container .main_title .Post:hover {
    transition: 0.1s ease;
    background-color: var(--bg);
    border: solid var(--buttons-color);
}

.my_property_container .main_title .Post:hover h1{
    transition: 0.1s ease;
    color: var(--buttons-color);
}

.my_property_container .main_title .Post:hover i{
    transition: 0.1s ease;
    color: var(--buttons-color);
}

.my_property_container .main_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0;
}

.my_property_container .main_title i {
    font-size: 1.5em;
    color: var(--text-color);
    margin-left: 20px;
}

.my_property_container h1 {
    font-size: 30px;
    color: var(--text-color);
    margin-right: 10px;
    font-weight: 500;
    font-size: 53px;
    font-style: normal;
    letter-spacing: 1px;
}

.my_property_container i {
    font-size: 1em;
    color: var(--text-color);
    margin-left: 20px;
}

.my_property_container .tablink {
    color: var(--buttons-color);
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: Kulim Park;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.4px;
    text-decoration: none;
    position: relative;
    border-radius: 4px;
}

.my_property_container .tablink:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out, background-color 0.3s;
    border-radius: 2px;
}

.my_property_container .tablink:hover {
    transition: 0.2s ease;
    background: transparent;
    color: var(--text-color);
}

.my_property_container .tablink:focus::after,
.my_property_container .tablink:active::after {
    transform: scaleX(1);
    background-color: var(--buttons-color);
}

.my_property_container .tablink+.tablink {
    margin-left: 80px;
}

.my_property_container #Publicados,
.my_property_container #Borradores {
    background-color: var(--bg);
}

.my_property_container .tabcontent {
    border-radius: 8px;
    padding: 2em;
}

.my_property_container .tabcontent .table {
    width: 95%;
    margin: auto;
}

.my_property_container .tabcontent .table table {
    width: 100%;
    border-collapse: collapse;
}

.my_property_container .tabcontent .table table tr {
    border-top: 1px solid #bfc1dd;
    border-bottom: 1px solid #bfc1dd;
}

.my_property_container .tabcontent .table table tr th {
    text-align: left;
    padding: 10px 0;
    color: var(--text-color);
}

.my_property_container .tabcontent .table table tr:nth-child(1) {
    border-top: none;
}

.my_property_container .tabcontent .table table tr td {
    padding: 10px 0;
    color: var(--text-color);
}

.my_property_container .tabcontent .table table tr td img {
    width: 30px;
    height: 30px;
    border-radius: 1px;
}

.my_property_container .tabcontent .table table tr td .details_button {
    width: 80%;
    height: 30px;
    background-color: var(--buttons-color);
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: solid var(--buttons-color) 2px;
    transition: ease 0.3s;
}

.my_property_container .tabcontent .table table tr td .details_button:hover {
    background: white;
    color: var(--buttons-color);
}

.my_property_container .tabcontent .table table tr td .details_button_green {
    width: 80%;
    height: 30px;
    background-color: var(--buttons-color-post);
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: solid var(--buttons-color-post) 2px;
    transition: ease 0.3s;
}

.my_property_container .tabcontent .table table tr td .details_button_green:hover {
    background: white;
    color: var(--buttons-color-post);
}

.my_property_container .tabcontent .table table tr td .details_button_red {
    width: 80%;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: solid rgb(255, 110, 110) 2px;
    transition: ease 0.3s;
}

.my_property_container .tabcontent .table table tr td .details_button_red:hover {
    background: white;
    color: red;
}

.my_property_container .tabcontent .table .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}