.m-back {
  width: 80%;
  margin: auto;

  .back {
    display: flex;

    i {
      font-size: 2rem;
      color: var(--text-color);
      margin-right: 5px;
      padding-top: 8px;
    }

    h1 {
      font-style: normal;
      color: var(--text-color);
      margin-right: 10px;
      font-weight: 500;
      align-items: center;
      font-size: 30px;
      font-style: normal;
      letter-spacing: 1px;
      padding-top: 6px;
    }
  }
}

.main_container {
  width: 80%;
  margin: auto;

  .main_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: baseline;
    margin: 20px 0;
    letter-spacing: 2px;

    h1 {
      font-weight: 500;
      color: var(--text-color);
    }

    i {
      font-size: 1.5em;
      color: var(--text-color);
      margin-left: 20px;
    }
  }
}

.rectangle {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  border: 3px solid #d9d9d9;
  border-width: 5px;
  border-style: solid;

  .title-rectangle {
    color: var(--text-color);
    align-items: center;

    h1 {
      font-weight: 500;
      font-size: 40px;
      color: var(--text-color);
      margin-left: 20px;
    }

    .container-squares {
      display: flex;
      margin-top: 8px;
      justify-content: center;
      /* Esto centrará los cuadrados horizontalmente */

      .squares1 {
        width: 150px;
        height: 150px;
        background-color: #d9d9d9;
        margin-right: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: #8d8d8d;
          font-size: 2.5em;
        }
      }

      .squares2 {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5927e3;
      }

      .squares3 {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3304b2;
      }

      .squares4 {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1b0065;
      }

      .squares5 {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1b0065;
      }
    }

    .subtitle-rectangle {
      h1 {
        font-weight: 500;
        font-size: 40px;
        color: var(--text-color);
        margin-left: 20px;
        margin-top: 20px;
      }

      .search_box {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 15px;

        .search_button {
          width: 20%;
          height: 35px;
          border-radius: 12px;
          border: solid 2px var(--border-bg);
          font-size: 16px;
          line-height: 30px;
          text-align: center;
          color: var(--text-color);
          cursor: pointer;
          background: white;
          transition: ease 0.3s;

          .search_button:hover {
            border: solid 2px var(--buttons-color);
            color: white;
            background: var(--buttons-color);
          }
        }

        .search_bar {
          width: 38%;
          position: relative;
          padding-left: 20px;
          padding-top: 20px;

          i {
            position: absolute;
            top: 28px;
            right: 10px;
            color: #8a8a8a;
          }

          input {
            width: 100%;
            height: 35px;
            border-radius: 12px;
            outline: none;
            border: solid 2px var(--border-bg);
            font-family: "Kulim Park", sans-serif;
            font-size: 16px;
            padding-left: 15px;
            color: #8a8a8a;
            transition: ease 0.3s;

            input:focus {
              border: solid 2px var(--buttons-color);
            }
          }
        }
      }

      .tags {
        width: 70%;

        h2 {
          font-weight: 500;
          font-size: 40px;
          color: var(--text-color);
          margin-top: 20px;
          margin-left: 20px;
        }
      }
    }
  }
}
