.post-container {
    width: 85%;
    height:150vh;
    margin: 0 auto;
}

.post-container .back {
    display: flex;
    background-color: var(--button-background);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: auto;
}

.post-container .back:active {
    background-color: var(--button-background-active);
    color: var(--button-text-active);
}

.post-container .back i {
    font-size: 2rem;
    color: var(--text-color);
    margin-right: 5px;
    padding-top: 8px;
}

.post-container .back span {
    font-style: normal;
    color: var(--text-color);
    margin-right: 10px;
    font-weight: 500;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 1px;
    padding-top: 6px;
}

.post-container .m-back .back h1 {
    font-style: normal;
    color: var(--text-color);
    margin-right: 10px;
    font-weight: 500;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 1px;
    padding-top: 6px;
}

.post-container .main_title {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.post-container .main_title h1 {
    font-weight: 500;
    color: var(--text-color);
}

.post-container .main_title i {
    font-size: 1.2em;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.post-container .form-box {
    width: 100%;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
    border-width: 3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container .form-box .form-images{
    width: 90%;
    grid-column: 1;
    grid-row: 1;
}
.post-container .form-box .form-images h2{
    font-size: 2em;
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.post-container .form-box .form-images .images {
    display: flex;
    align-self:center;
    justify-content: center;
    gap: 10px;
}

.post-container .form-box .form-images .images .image {
    width: 10em;
    height: 10em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    cursor: pointer;
}

.post-container .form-box .form-images .images .image:hover{
    border: 3px solid var(--buttons-color);
}

.post-container .form-box .form-images .images .image>input  {
    display: none;
}

.post-container .form-box .form-images .images .image i{
    font-size: 2em;
    color: #8D8D8D;
    cursor: pointer;
}

.post-container .form-box .form-location{
    width: 90%;
    grid-column: 1;
    grid-row: 2; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: auto;
    margin-bottom: 2rem;
}

.post-container .form-box .form-location h2{
    font-size: 2em;
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.post-container .form-box .form-location .search_box{
    grid-column: 1/2;
    width: 100%;
}

.post-container .form-box .form-location .search_box .search_bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    outline: none;
    border: solid 2px var(--buttons-color);
    font-size: 16px;
    padding-left: 1em;
}

.post-container .form-box .form-location .search_box .search_bar input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
}
.post-container .form-box .form-location .search_box .search_bar i {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color: var(--buttons-color);
}

.post-container .form-box .form-location .search_box .search_bar_tags{
    display: flex;
    align-items: center;
    width: 60%;
    height: 35px;
    border-radius: 12px;
    outline: none;
    border: solid 2px var(--buttons-color);
    font-size: 16px;
    padding-left: 1em;
}

.post-container .form-box .form-location .search_box .search_bar_tags input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
}

.post-container .form-box .form-location .search_box .search_bar_tags i {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: var(--buttons-color);
}

.post-container .form-box .form-location .search_box .tag-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-container .form-box .form-location .search_box .tag-list .tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--buttons-color);
    color: white;
    border-radius: 10px;
    padding: 0.5em 1em;
}

.post-container .form-box .form-location .search_box .tag-list .tag i{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-container .form-box .form-location .map{
    grid-column: 2;
    width: 90%;
    height: 200px;
    border-radius: 8px;
    margin: auto 20px;
    background-color: var(--buttons-color);
}

.post-container .form-box .form-details{
    width: 90%;
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    margin-bottom: 2em;
}

.post-container .form-box .form-details h2{
    font-size: 2em;
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.post-container .form-box .form-details .detail-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.post-container .form-box .form-details .detail-input label{
    font-size: 1.2em;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.post-container .form-box .form-details .detail-input input{
    width: 100%;
    height: 40px;
    border-radius: 12px;
    outline: none;
    border: solid 2px var(--buttons-color);
    font-family: "Kulim Park", sans-serif;
    font-size: 16px;
    padding-left: 15px;
    color: #8a8a8a;
    background-color: #E5E7FF;
    transition: ease 0.3s;
}
