.left_bar{
    margin: 0;
    padding: 0;
    top: 0;
    width: 18%;
    background-color: #F8F8F8;
}

.left_bar li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.left_bar li{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.left_bar a{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.seleccionado{
    background-color: #5927E3;
    border-radius: 0 15px 15px 0;
    transition: .5s;
}


.left_bar a i{
    font-size: 1.5rem;
    width: 35%;
    text-align: center;
}

.seleccionado i{
    font-size: 1.7rem;
    color: #F8F8F8;
}

.left_bar a h2 {
    font-weight: 400;
    color: #1B0065;
    font-size: 1.5rem;
    width: 65%;
}

.seleccionado .option{
    color: #F8F8F8;
    font-size: 1.7rem;
}



hr{
    height: 0.5px;
    width: 80%;
    background-color: #8E90B9;
    margin-top: 55px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}