.card{
    width: 22em;
    height: 30em;
    padding: 1em;
    background-color: var(--white-color-card);
    border-radius: 15px;
}

.card .image{
    width: 100%;
    height: 12em;
    background-color: #5927E3;
}

.card .info{
    margin-top: 10px;
} 
.card .info h1 {
    font-size: 2em;
    font-weight: 700;
    color: var(--text-color);
}

.card .info .location{
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}

.card .info .location i{
    font-size: 1.2em;
    color: var(--text-color);
    margin-right: 0.3em;
}

.card .info .location-info{
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-color);
}

.card .info .price {
    margin-top: 0.5em;
    font-size: 1.6em;
    font-weight: 700;
    color: var(--text-color);
}


.card .info .extra-info{
    width: 80%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    margin-top: 3em;
}

.card .info .extra-info .property-operation h3{
    font-size: 1.3em;
    font-weight: 700;
    color: var(--text-color);
}

.card .info .extra-info .property-type h3{
    font-size: 1.3em;
    font-weight: 700;
    color: var(--text-color);
}

.card .info .extra-info .property-operation .operation{
    font-size: 1.3em;
    font-weight: 400;
}

.card .info .extra-info .property-type .type{
    font-size: 1.3em;
    font-weight: 400;
}

.v-line{
    background-color: var(--line-color);
    width: 0.1em;
    height: 1.8em;
    margin: auto;
}