body{
    margin: 0;
    padding: 0;
    font-family: 'Kulim Park', sans-serif;
    background-color: #f5f5f5;
}


.titulo{
    display: flex;
    align-items: center;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 10px;
}

.element{
    display: flex;
}
