.request-container {
  width: 80%;
  margin: 0 auto;
}

.request-container .main_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px 0;
}
.request-container .main_title h1 {
  font-weight: 600;
  color: var(--text-color);
}
.request-container .main_title i {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 20px;
}
.request-container .main_box {
  width: 100%;
  border-radius: 5px;
  background: var(--bg);
  padding: 20px;
}
.request-container .main_box .search_box {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.request-container .main_box .search_box .search_bar {
  width: 60%;
  position: relative;
}
.request-container .main_box .search_box .search_bar input {
  width: 100%;
  height: 35px;
  border-radius: 12px;
  outline: none;
  border: solid 2px var(--border-bg);
  font-family: "Kulim Park", sans-serif;
  font-size: 16px;
  padding-left: 15px;
  color: #8a8a8a;
  transition: ease 0.3s;
}
.request-container .main_box .search_box .search_bar input:focus {
  border: solid 2px var(--buttons-color);
}
.request-container .main_box .search_box .search_bar i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #8a8a8a;
}
.request-container .main_box .search_box .search_button {
  width: 20%;
  height: 35px;
  border-radius: 12px;
  border: solid 2px var(--border-bg);
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
  background: white;
  transition: ease 0.3s;
}
.request-container .main_box .search_box .search_button:hover {
  border: solid 2px var(--buttons-color);
  color: white;
  background: var(--buttons-color);
}
.request-container .main_box .table {
  width: 100%;
}
.request-container .main_box .table table {
  width: 100%;
  border-collapse: collapse;
}
.request-container .main_box .table table tr {
  border-top: 1px solid #bfc1dd;
  border-bottom: 1px solid #bfc1dd;
}
.request-container .main_box .table table tr th {
  text-align: left;
  padding: 10px 0;
  color: var(--text-color);
}
.request-container .main_box .table table tr:nth-child(1) {
  border-top: none;
}
.request-container .main_box .table table tr td {
  padding: 10px 0;
  color: var(--text-color);
}
.request-container .main_box .table table tr td .details_button {
  width: 100%;
  height: 30px;
  background-color: var(--buttons-color);
  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  border: solid var(--buttons-color) 2px;
  transition: ease 0.3s;
}
.request-container .main_box .table table tr td .details_button:hover {
  background: white;
  color: var(--buttons-color);
}
.request-container .main_box .table table tr .check_button {
  cursor: pointer;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #888;
  border-radius: 2px;
}
.request-container .main_box .table table tr .check_button:checked {
  background-color: var(--buttons-color);
} /*# sourceMappingURL=style.css.map */
