* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --buttons-color: #5927E3;
    --text-color: #1B0065; 
    --icon-color: #390065;
    --bg: rgba(217, 217, 217, 0.31);
    --border-bg: #8E90B9;
    --color-bottons-unselected: #F2F2F2;
    --white-color-bg: #F8F8F8;
    --white-color-card: #EDEDF5;
    --white-color: #FFFFFF;
    --buttons-color-post: rgb(120, 214, 27);
}

body {
    font-family: "Kulim Park", sans-serif;
}

.card{
    width: 400px;
    height: 520px;
    padding: 20px;
    background-color: var(--white-color-card);
    border-radius: 15px;
}

.card .image{
    width: 350px;
    height: 200px;
    background-color: #5927E3;
}
