@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --buttons-color: #5927E3;
  --text-color: #1B0065;
  --bg: rgba(217, 217, 217, 0.31);
  --border-bg: #8E90B9;
  --color-bottons-unselected: #F2F2F2;
  --buttons-color-post: rgb(120, 214, 27);
}

body {
  font-family: "Kulim Park", sans-serif;
}
body .m-back {
  width: 80%;
  margin: auto;
}
body .m-back .back {
  display: flex;
}
body .m-back .back i {
  font-size: 2rem;
  color: var(--text-color);
  margin-right: 5px;
  padding-top: 8px;
}
body .m-back .back h1 {
  font-style: normal;
  color: var(--text-color);
  margin-right: 10px;
  font-weight: 500;
  align-items: center;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 1px;
  padding-top: 6px;
}
body .main_container {
  width: 80%;
  margin: auto;
}
body .main_container .main_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: baseline;
  margin: 20px 0;
  letter-spacing: 2px;
}
body .main_container .main_title h1 {
  font-weight: 500;
  color: var(--text-color);
}
body .main_container .main_title i {
  font-size: 1.5em;
  color: var(--text-color);
  margin-left: 20px;
}
body .rectangle {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  border: 3px solid #D9D9D9;
  border-width: 5px;
  border-style: solid;
}
body .rectangle .title-rectangle {
  color: var(--text-color);
  align-items: center;
}
body .rectangle .title-rectangle h1 {
  font-weight: 500;
  font-size: 40px;
  color: var(--text-color);
  margin-left: 20px;
}
body .rectangle .title-rectangle .container-squares {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  /* Esto centrará los cuadrados horizontalmente */
}
body .rectangle .title-rectangle .container-squares .squares1 {
  width: 150px;
  height: 150px;
  background-color: #D9D9D9;
  margin-right: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .rectangle .title-rectangle .container-squares .squares1 i {
  color: #8D8D8D;
  font-size: 2.5em;
}
body .rectangle .title-rectangle .container-squares .squares2 {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5927E3;
}
body .rectangle .title-rectangle .container-squares .squares3 {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3304B2;
}
body .rectangle .title-rectangle .container-squares .squares4 {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B0065;
}
body .rectangle .title-rectangle .container-squares .squares5 {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B0065;
}
body .rectangle .title-rectangle .subtitle-rectangle h1 {
  font-weight: 500;
  font-size: 40px;
  color: var(--text-color);
  margin-left: 20px;
  margin-top: 20px;
}
body .rectangle .title-rectangle .subtitle-rectangle .search_box {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
body .rectangle .title-rectangle .subtitle-rectangle .search_box .search_button {
  width: 20%;
  height: 35px;
  border-radius: 12px;
  border: solid 2px var(--border-bg);
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
  background: white;
  transition: ease 0.3s;
}
body .rectangle .title-rectangle .subtitle-rectangle .search_box .search_button .search_button:hover {
  border: solid 2px var(--buttons-color);
  color: white;
  background: var(--buttons-color);
}
body .rectangle .title-rectangle .subtitle-rectangle .search_box .search_bar {
  width: 38%;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
}
body .rectangle .title-rectangle .subtitle-rectangle .search_box .search_bar i {
  position: absolute;
  top: 28px;
  right: 10px;
  color: #8a8a8a;
}
body .rectangle .title-rectangle .subtitle-rectangle .search_box .search_bar input {
  width: 100%;
  height: 35px;
  border-radius: 12px;
  outline: none;
  border: solid 2px var(--border-bg);
  font-family: "Kulim Park", sans-serif;
  font-size: 16px;
  padding-left: 15px;
  color: #8a8a8a;
  transition: ease 0.3s;
}
body .rectangle .title-rectangle .subtitle-rectangle .search_box .search_bar input input:focus {
  border: solid 2px var(--buttons-color);
}
body .rectangle .title-rectangle .subtitle-rectangle .tags {
  width: 70%;
}
body .rectangle .title-rectangle .subtitle-rectangle .tags h2 {
  font-weight: 500;
  font-size: 40px;
  color: var(--text-color);
  margin-top: 20px;
  margin-left: 20px;
}