.property-container{
    width: 100%;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
} 

.property-container .title{
    margin: 20px 0;
}
.property-container .title h1{
    font-weight: 600;
    color: var(--text-color);
}

.property-container .bottons-container{
    display: flex;
    gap: 3em;
}

.property-container .bottons-container .first_button{
    height: 4em;
    width: 12em;
    border: solid 2px var(--border-bg);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
    font-size: 1.2em;
    font-weight: 600;
}

.property-container .bottons-container .first_button:hover{
    background-color: var(--buttons-color);
    color: var(--bg);
    border: solid 2px var(--buttons-color);
    cursor: pointer;
}

.property-container .bottons-container .first_button:hover i{
    color: var(--white-color);
}

.property-container .bottons-container .first_button:hover .title_botton{
    color: var(--white-color);
}

.property-container .bottons-container .second_button{
    height: 4em;
    width: 12em;
    border: solid 2px var(--border-bg);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
    font-size: 1.2em;
    font-weight: 600;
}

.property-container .bottons-container .second_button:hover{
    background-color: var(--buttons-color);
    color: var(--bg);
    border: solid 2px var(--buttons-color);
    cursor: pointer;
}

.property-container .bottons-container .second_button:hover i{
    color: var(--white-color);
}

.property-container .bottons-container .second_button:hover .second_title_botton{
    color: var(--white-color);
}





