body{
    margin: 0;
    padding: 0;
    font-family: 'Kulim Park', sans-serif;
    background-color: white;
}

.left_bar{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 390px;
    height: 100%;
    background-color: #F8F8F8;
}

li{
    list-style: none;
}

.left_bar a{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.seleccionado{
    background-color: #5927E3;
    border-radius: 0 15px 15px 0;
    transition: .5s;
}


.left_bar a i{
    font-size: 1.5rem;
    width: 35%;
    text-align: center;
}

.seleccionado i{
    font-size: 1.7rem;
    color: #F8F8F8;
}

.left_bar a h2 {
    font-weight: 400;
    color: #1B0065;
    font-size: 1.5rem;
    width: 65%;
}

.seleccionado .option{
    color: #F8F8F8;
    font-size: 1.7rem;
}

.left_bar .config{
    width: 100%;
    position: absolute;
    bottom: 5px;
}

hr{
    height: 0.5px;
    width: 80%;
    background-color: #8E90B9;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}